.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 100vh;
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgb(121, 163, 163);
  .dropzone {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
  .dragover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  img {
    display: block;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
  }
}
